
<div class="banner-show" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @cocktail.photo %>);">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="text-center">
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), class: "btn dose-btn" %>
</div>

<div>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description + " of " + dose.ingredient.name %> | <%= link_to "Delete", cocktail_dose_path(dose.cocktail_id, dose.id), method: :delete %></li>
    <% end %>
  </ul>
</div>
